
{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-order"],
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "order/properties-alphabetical-order": true,
    "color-hex-case": "upper",
    "max-empty-lines": 2,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "else",
          "each",
          "@each",
          "custom-media",
          "@custom-media",
          "extends",
          "include",
          "@include",
          "mixin",
          "if",
          "content",
          "function",
          "return",
          "define-mixin"
        ]
      }
    ]
  }
}