/**
 * @group css.modules.pages.page-home
 *
 * Use this for header-primary styles that apply to all pages
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "../../modules/pages/
 *
 */

.page-home {

}
    .page-home__intro {
        text-align: center;

        h1 {
            @include font(40, 44);
            margin-bottom: 10px;

            @include mq($from: tablet) {
                @include font(48, 52);
            }

            @include mq($from: smalldesktop) {
                @include font(56, 60);
                margin-bottom: 15px;
            }
        }

        h2 {
            @include font(20, 24);
            margin-bottom: 10px;

            @include mq($from: tablet) {
                @include font(28, 32);
                margin-bottom: 15px;
            }

            @include mq($from: smalldesktop) {
                @include font(36, 40);
                margin-bottom: 20px;
            }
        }
    }

        .page-home__intro-social {
            a {
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px;

                @include mq($from: tablet) {
                    margin: 0 12px;
                }

                @include mq($from: smalldesktop) {
                    margin: 0 15px;
                }

                &.social-twitter {
                    &:hover {
                        .no-touch & {
                            svg {
                                fill: $color-social-twitter;
                            }
                        }
                    }
                }

                &.social-linkedin {
                    &:hover {
                        .no-touch & {
                            svg {
                                fill: $color-social-linkedin;
                            }
                        }
                    }
                }

                &.social-github,
                &.social-email {
                    &:hover {
                        .no-touch & {
                            svg {
                                fill: $color-red;
                            }
                        }
                    }
                }
            }

            svg {
                transition: fill 0.3s ease-out;
                fill: #333;
                width: 30px;
                height: 30px;

                @include mq($from: tablet) {
                    width: 40px;
                    height: 40px;
                }

                @include mq($from: smalldesktop) {
                    width: 50px;
                    height: 50px;
                }
            }
        }

    .page-home__about {
        text-align: center;

        p {
            @include font(18, 22);

            @include mq($from: tablet) {
               @include font(24, 28);
            }

            @include mq($from: smalldesktop) {
                @include font(30, 34);
            }
        }
    }

    .page-home__skills {
        p {
            @include font(18, 28);

            @include mq($from: tablet) {
               @include font(19, 32);
            }

            @include mq($from: smalldesktop) {
                @include font(20, 38);
            }
        }
    }

    .page-home__companies {

        .page-home__companies__inner {
            max-width: 800px;
            margin: 0 auto;
            font-size: 0;
            text-align: center;
        }
            .company {
                display: inline-block;
                vertical-align: middle;
                width: 27%;
                margin: 20px 3%;

                @include mq($from: tablet) {
                    margin: 30px 3%;
                }

                @include mq($from: smalldesktop) {
                    margin: 40px 3%;
                }

                &:nth-last-child(-n+3) {
                    margin-bottom: 0;
                }
            }
                img {
                    width: 100%;
                    margin: 0 auto;

                    &.company-img--small {
                        max-width: 60px;

                        @include mq($from: tablet) {
                            max-width: 80px;
                        }

                        @include mq($from: smalldesktop) {
                            max-width: 110px;
                        }
                    }
                }
    }