{% include "../../components/headers/header-primary/header-primary.html" with {'header_class': 'header-primary--waiting header-primary--transparent' } %}
<main class="page page-home">
	{% include '../../components/video-hero/video-hero.html' %}

    <section class="page-home__intro section--trans">
        <div class="grid no-cols">
            <h1>I am <span class="color-text--red">Sam Linnett</span></h1>
            <h2>A freelance Web Developer, based in central London</h2>
        </div>
        <div class="page-home__intro-social">
            <div class="grid no-cols">
                <a href="mailto:sam@linnett.co.uk" title="Email" class="social-email">
                    <svg viewBox="0 0 128 128">
                       <use xlink:href="assets/img/svg/svg-foreground.svg#icon-social-email"></use>
                    </svg>
                </a>
                <a href="https://github.com/linnett/" target="_blank" title="Github" class="social-github">
                    <svg viewBox="0 0 438.549 438.549">
                       <use xlink:href="assets/img/svg/svg-foreground.svg#icon-social-github"></use>
                    </svg>
                </a>
                <a href="https://uk.linkedin.com/in/samlinnett" target="_blank" title="Linked In" class="social-linkedin">
                    <svg viewBox="0 0 128 128">
                       <use xlink:href="assets/img/svg/svg-foreground.svg#icon-social-linkedin"></use>
                    </svg>
                </a>
                <a href="http://www.twitter.com/sam_linnett" target="_blank" title="Twitter" class="social-twitter">
                    <svg viewBox="0 0 128 128">
                       <use xlink:href="assets/img/svg/svg-foreground.svg#icon-social-twitter"></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>

    <section class="page-home__skills section--trans" id="about">
        <div class="grid no-cols">
            <h2>Skill summary</h2>
            <p>
                JavaScript - ES6/ES2015, jQuery, Require, Angular, Browserify, Gulp, Grunt, MVC, AJAX.
                HTML - accessibility, semantic.
                CSS - Sass, mobile-first, fully responsive, UI development.
                PHP, MySQL, Apache2, OOP, UX, JSON, Git, API integration (RESTful), cloud server configuration (AWS/Rackspace), CMS development, Agile.
            </p>
        </div>
    </section>

    <section class="page-home__companies section--trans">
        <div class="grid no-cols">
            <div class="page-home__companies__inner">
                <div class="company">
                    <img src="assets/img/logos/virgin.jpg" class="company-img--small" alt="Virgin" />
                </div>
                <div class="company">
                    <img src="assets/img/logos/apple.jpg" class="company-img--small" alt="Apple" />
                </div>
                <div class="company">
                    <img src="assets/img/logos/ge.png" class="company-img--small" alt="GE" />
                </div>
                <div class="company">
                    <img src="assets/img/logos/akamai.png" alt="Akamai" />
                </div>
                <div class="company">
                    <img src="assets/img/logos/google.png" alt="Google" />
                </div>
                <div class="company">
                    <img src="assets/img/logos/lebara.jpg" alt="Lebara" />
                </div>
                <div class="company">
                    <img src="assets/img/logos/novartis.jpg" alt="Novartis" />
                </div>
                <div class="company">
                    <img src="assets/img/logos/sainsburys.jpg" alt="Sainsburys" />
                </div>
                <div class="company">
                    <img src="assets/img/logos/viacom.png" alt="Viacom" />
                </div>
            </div>
        </div>
    </section>

    {% include '../../pages/page/portfolio/portfolio.html' %}

</main>