<section class="video-hero">
    <div class="video-hero__inner tint-overlay js-video-wrap">
        <video preload="metadata" autoplay loop class="js-video-hero">
            <source src="assets/img/videos/background-video.mp4" type="video/mp4">
            <source src="assets/img/videos/background-video.webm" type="video/webm">
        </video>
        <div class="grid no-cols">
            <div class="video-hero__content video-hero__content--waiting">
                <a href="mailto:sam@linnett.co.uk" class="btn" title="Contact Me">Contact Me</a>
                <svg viewBox="0 0 128 128">
                   <use xlink:href="assets/img/svg/svg-foreground.svg#icon-down-arrow"></use>
                </svg>
            </div>
        </div>
    </div>
</section>