<footer class="footer-primary">
    <div class="footer-primary__main">
        <div class="grid no-cols">
            {% include  "nav-footer/nav-footer.html" %}
            <div class="footer-primary__contact">
                <h3>Find me here:</h3>
                <a href="mailto:sam@linnett.co.uk" title="Email" class="social-email">
                    <svg viewBox="0 0 128 128">
                       <use xlink:href="assets/img/svg/svg-foreground.svg#icon-social-email"></use>
                    </svg>
                </a>
                <a href="https://github.com/linnett/" target="_blank" title="Github" class="social-github">
                    <svg viewBox="0 0 438.549 438.549">
                       <use xlink:href="assets/img/svg/svg-foreground.svg#icon-social-github"></use>
                    </svg>
                </a>
                <a href="https://uk.linkedin.com/in/samlinnett" target="_blank" title="Linked In" class="social-linkedin">
                    <svg viewBox="0 0 128 128">
                       <use xlink:href="assets/img/svg/svg-foreground.svg#icon-social-linkedin"></use>
                    </svg>
                </a>
                <a href="http://www.twitter.com/sam_linnett" target="_blank" title="Twitter" class="social-twitter">
                    <svg viewBox="0 0 128 128">
                       <use xlink:href="assets/img/svg/svg-foreground.svg#icon-social-twitter"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-primary__bottom">
        <div class="grid no-cols">
            <p>Sam Linnett Ltd is registered in England &amp; Wales. Company No 09781049.</p>
        </div>
    </div>
</footer>