/**
 * @group css.modules.components.headers.header-primary.nav-primary
 *
 * Use this for nav styles that apply to all pages
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "../../modules/components/headers/header-primary/nav-primary/nav-primary";
 *
 */

 .nav-primary {
    ul {
        list-style: none;
        width: 100%;
        margin: 2px auto;
        text-align: center;
    }
        li {
            transition: margin 0.3s ease-out;
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px;

            @include mq($from: tablet) {
                margin: 0 30px;
            }

            @include mq($from: smalldesktop) {
                margin: 0 40px;
            }
        }
            a {
                @include font(16, 20);
                color: #fff;
                font-weight: 400;

                .header-primary--sticky & {
                    color: #444;
                }

                @include mq($from: tablet) {
                    @include font(18, 22);
                }

                &:hover {
                    .no-touch & {
                        color: $color-red;
                    }
                }
            }
 }
    .nav-primary__logo {
        display: block;
        width: 60px;
        border-radius: 50%;

        @include mq($from: tablet) {
            width: 80px;
        }

        img {
            border-radius: 50%;
        }
    }