:root {
  --font-primary: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #444;
  font-family: var(--font-primary);
  font-weight: 300;
}

h1 {
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 300;
  line-height: 44px;
  margin-bottom: 10px;

  @media (--tablet-viewport) {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 15px;
  }

  @media (--smalldesktop-viewport) {
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 20px;
  }
}

h2 {
  font-family: var(--font-primary);
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;

  @media (--tablet-viewport) {
    font-size: 28px;
    line-height: 32px;
  }

  @media (--smalldesktop-viewport) {
    font-size: 36px;
    line-height: 40px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;

  @media (--tablet-viewport) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  @media (--smalldesktop-viewport) {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}

p,
li {
  font-size: 18px;
  line-height: 28px;

  @media (--tablet-viewport) {
    font-size: 19px;
    line-height: 32px;
  }

  @media (--smalldesktop-viewport) {
    font-size: 20px;
    line-height: 38px;
  }
}

a {
  color: var(--color-blue);
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  transition: background 0.3s ease-out, color 0.3s ease-out;

  svg {
    transition: fill 0.3s ease-out;
  }

  &:hover {
    .no-touch & {
      color: $color-red;
    }
  }
}

h1,
h2,
h3,
h4,
p,
li,
span {
  transition: font 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
input,
label,
time,
button,
address {
  -webkit-font-smoothing: antialiased;
}
