.grid {
  display: grid;
  justify-items: center;
  margin: 0 auto;
  max-width: 980px;

  /* TODO: Apply generic padding */

  &.no-cols {
    align-content: center;
    grid-row-gap: 0;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
