.grid {
  display: grid;
  margin: 0 auto;
  max-width: 980px;

  &.no-cols {
    align-content: center;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
