/**
 * @group css.modules.components.footers.footer-primary.nav-footer.nav-footer
 *
 * Use this for navigation styles in the footer
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "../../modules/components/footers/footer-primary/nav-footer/nav-footer";
 *
 */

 .nav-footer {
    @include mq($from: smalldesktop) {
        float: left;
    }

    ul {
        list-style: none;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #585858;

        @include mq($from: smalldesktop) {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 8px;
            text-align: left;
        }
    }
        li {
            margin: 0 10px;
            display: inline-block;

            @include mq($from: tablet) {
                margin: 0 15px;
            }

            @include mq($from: smalldesktop) {
                border-right: 1px solid #585858;
                padding-right: 15px;
                margin-left: 0;
                margin-right: 15px;

                &:last-child {
                    padding-right: 0;
                    border-right: 0;
                }
            }

        }
            a {
                color: #fff;
                font-weight: 400;

                @include mq($from: smalldesktop) {
                    @include font(16, 20);
                }
            }
 }