.Header {
  align-items: center;
  background: #FFF;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: relative;
  top: 0;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease-in-out, background 0.3s cubic-bezier(0.68, 0, 0.38, 1);
  width: 100%;
  z-index: 100;

  &--loading {
    transform: translate(0, -110px);
    transform: translate3d(0, -110px, 0);
  }

  &--transparent {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
  }

  &--sticky {
    background: #FFF;
    border-bottom: 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
  }

  &__imageWrap {
    width: 60px;

    @media (--tablet-viewport) {
      width: 80px;
    }

    img {
      border-radius: 50%;
    }
  }
}
